PORT=4000
NODE_ENV=development
MONGO_URI=mongodb://localhost:27017/panasecreto
CORS_ORIGIN=*
JWT_SECRET=tu_secreto_jwt_super_seguro_aqui
CLOUD_NAME=mi_nombre
CLOUDINARY_KEY=CLOUDINARY_CODE_KEY
CLOUDINARY_SECRET=CLOUDINARY_CODE_SECRET
FOLDER_NAME=PanaSecreto